/rubbish/

/PixArt-StyleTrans-Conti2/CheckpointOriginLoRA05/
/PixArt-StyleTrans-Conti2/CheckpointOriginLoRA/
/PixArt-StyleTrans-Conti2/CheckpointGenLoRA/

/PixArt-StyleTrans-Conti1/CheckpointOriginLoRA05/
/PixArt-StyleTrans-Conti1/CheckpointOriginLoRA/

/PixArt-StyleTrans-Comp/CheckpointTrainLoRA/

/DDPM-Classify-CIFAR10/CheckpointTrainLoRA/
/DDPM-Classify-CIFAR10/CheckpointBaseDDPM/
/DDPM-Classify-CIFAR10/CheckpointGenLoRA/

/CondiPDiff/CheckpointDDPM/
/CondiPDiff/CheckpointVAE/
